@font-face {
  font-family: 'kozuka-gothic';
  src: url('../../fontKoz/KozGoPro-Bold-AlphaNum.woff2') format('woff2'),
      url('../../fontKoz/KozGoPro-Bold-AlphaNum.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'kozuka-gothic';
  src: url('../../fontKoz/KozGoPro-ExtraLight-AlphaNum.woff2') format('woff2'),
      url('../../fontKoz/KozGoPro-ExtraLight-AlphaNum.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'kozuka-gothic';
  src: url('../../fontKoz/KozGoPro-Heavy-AlphaNum.woff2') format('woff2'),
      url('../../fontKoz/KozGoPro-Heavy-AlphaNum.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'kozuka-gothic';
  src: url('../../fontKoz/KozGoPro-Light-AlphaNum.woff2') format('woff2'),
      url('../../fontKoz/KozGoPro-Light-AlphaNum.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'kozuka-gothic';
  src: url('../../fontKoz/KozGoPro-Medium-AlphaNum.woff2') format('woff2'),
      url('../../fontKoz/KozGoPro-Medium-AlphaNum.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'kozuka-gothic';
  src: url('../../fontKoz/KozGoPro-Regular-AlphaNum.woff2') format('woff2'),
      url('../../fontKoz/KozGoPro-Regular-AlphaNum.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

